.canva{
    height: 400px;
    margin:auto;
    width:300px;
    background-color: white;
    box-shadow: 0px 2px 5px grey;

}

.canva-input-btn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.canva__container{
    background: linear-gradient(rgba(255, 255, 255, 0.911),rgba(255, 255, 255, 0.548));

    box-shadow: 0px 3px 5px grey;
    height: 100%;
    padding:10px;
    margin-bottom: 5rem;
}